<div class="form-container">

    <h4>El siguiente formulario es para agregar los restaurantes que adquieran el servicio</h4>
    <form [formGroup]="addRestaurantForm" (ngSubmit)="validateRestaurantInformation()" >
        <div class="input-container">
            <label  for="name">Nombre:</label>
            <input formControlName="name" type="text" id="name" placeholder="Mi restaurante"/>
            <div class="error-message-container" *ngIf="addRestaurantForm.controls['name'].errors?.['required'] && addRestaurantForm.controls['name'].dirty"  >
                <p>El nombre es un campo requerido.</p>
              </div>
        </div>
        
        <div class="input-container">
            <label for="country">País:</label>
        
            <select [(ngModel)]="country"  (change)="validCountry()"formControlName="country" id="country" >
                <option [selected]="country['id'] === -1" *ngFor="let country of countries">{{country['name']}}</option>
            </select>
            <div class="error-message-container" *ngIf="emptyCountryError"  >
                <p >El país es un campo requerido.</p>
            </div>
        </div>
        
        <div class="input-container">
            <label for="state">Estado:</label>
            <select formControlName="city" id="state" >
                <option [selected]="city['id'] === -1" *ngFor="let city of cities">{{city['name']}}</option>
            </select>
            <div class="error-message-container" *ngIf="emptyCityError"  >
                <p >La ciudad es un campo requerido.</p>
            </div>
        </div>
        
        <div class="input-container">
            <label for="address">Dirección:</label>
            <textarea formControlName="address" id="address" placeholder="Ingrese la dirección" cols="30" rows="5"></textarea>
            <div class="error-message-container" *ngIf="addRestaurantForm.controls['address'].errors?.['required'] && addRestaurantForm.controls['address'].dirty"  >
                <p >La dirección es un campo requerido</p>
            </div>
        </div>
        

        <button type="submit">Agregar</button>
    </form>
</div>